/*Imported a font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

*/

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-blue-gray: hsl(220, 15%, 55%);
  --color-blue-dark: hsl(218, 44%, 22%);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Outfit";
  background-color: var(--color-light-gray);
}

.container {
  width: 32rem;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 2rem;
}
.text-container {
  padding: 0 2rem 0;
}

.heading-1 {
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-blue-dark);
}
.paragraph {
  text-align: center;
  color: var(--color-blue-gray);
}

.qrcode__img {
  width: 100%;
  border-radius: 2rem;
}

.attribution {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  font-weight: 700;
}
